$mobile-breakpoint: 320px;
$mobile-padding: 15px;
$tablet-breakpoint: 768px;
$tablet-padding: 45px;
$desktop-breakpoint: 1024px;
$desktop-padding: $tablet-padding;
$desktop-max-content: 1170px;
$desktop-max: $desktop-max-content + $tablet-padding * 2;

:root {
  --padding: #{$mobile-padding};

  --color-black-0: #1F1E25;
  --color-white-0: #FFFFFF;
  --color-blue-0: #2C36F2;
  --color-gray-0: #E5E5E5;
  --color-lightgray-0: #F6F7FF;
}

@media (min-width: $tablet-breakpoint) {
  :root {
    --padding: #{$tablet-padding};
  }
}

@media (min-width: $desktop-breakpoint) {
  :root {
    --padding: #{$desktop-padding};
  }
}
