.calculator-mortage__title {
  @include calculator-step-title;
}

.calculator-mortage__label {
  display: block;

  margin-top: 9px;

  font-size: 16px;
  line-height: 22px;

  color: var(--color-black-4, black);
}

.calculator-mortage__input-wrapper {
  position: relative;

  overflow: visible;

  margin-top: 9px;

  &--invalid {
    .calculator-mortage__input-error {
      display: block;
    }

    .calculator-mortage__input {
      color: var(--color-red-0, red);

      border-color: var(--color-red-0, red);
      box-shadow: inset 0 0 0 2px var(--color-red-0, red);
    }
  }
}

.calculator-mortage__input {
  @include calculator-input;

  padding-left: 65px;
  padding-right: 65px;

  text-align: center;
}

.calculator-mortage__input-button {
  position: absolute;
  top: 0;
  bottom: 0;

  display: block;

  height: 100%;
  padding: 0 24px;

  font-size: 0;

  background-color: transparent;

  border: none;
  border-radius: 4px;
  outline: none;

  &--minus,
  &--plus {
    display: flex;
    justify-content: center;
    align-items: center;

    &::before,
    &::after {
      content: "";

      display: block;
      width: 16px;
      height: 2px;

      background-color: var(--color-black-0, black);
    }
  }

  &--minus {
    left: 0;

    &::after {
      display: none;
    }
  }

  &--plus {
    right: 0;

    padding-right: 15px;
    padding-left: 15px;

    &::after {
      position: absolute;

      transform: rotate(90deg);
    }
  }
}

.calculator-mortage__input-button:not(:disabled) {
  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 3px var(--color-gray-0, gray);
  }

  &:active {
    opacity: 0.3;
  }
}

.calculator-mortage__input-error {
  position: absolute;
  top: -6px;
  left: 14px;
  z-index: 2;

  display: none;

  padding: 0 10px;
  margin: 0;

  font-size: 12px;
  font-weight: 500;
  line-height: 14px;

  color: var(--color-red-0, red);
  background: var(--color-white-0, white);
}

.calculator-mortage__input-hint {
  margin: 6px 0 0;

  font-size: 14px;
  line-height: 20px;

  color: var(--color-black-3, black);
}
