.calculator {
  position: relative;

  overflow: hidden;

  padding: 53px var(--padding);
}

.calculator__title {
  margin: 0;

  font-size: 22px;
  font-weight: 700;
  line-height: 31px;
}

.calculator__step-1 {
  margin-top: 22px;
}

.calculator__step-2 {
  margin-top: 24px;
}
