.calculator-params__title {
  @include calculator-step-title;
}

.calculator-params__label {
  display: block;

  margin-top: 9px;

  font-size: 16px;
  line-height: 22px;

  color: var(--color-black-4, black);
}

.calculator-params__input-wrapper {
  position: relative;

  overflow: visible;

  margin-top: 9px;

  &--invalid {
    .calculator-params__input-error {
      display: block;
    }

    .calculator-params__input {
      color: var(--color-red-0, red);

      border-color: var(--color-red-0, red);
      box-shadow: inset 0 0 0 2px var(--color-red-0, red);
    }
  }
}

.calculator-params__input {
  @include calculator-input;

  padding-left: 65px;
  padding-right: 65px;

  text-align: center;
}

.calculator-params__input-button {
  position: absolute;
  top: 0;
  bottom: 0;

  display: block;

  height: 100%;
  padding: 0 24px;

  font-size: 0;

  background-color: transparent;

  border: none;
  border-radius: 4px;
  outline: none;

  &--minus,
  &--plus {
    display: flex;
    justify-content: center;
    align-items: center;

    &::before,
    &::after {
      content: "";

      display: block;
      width: 16px;
      height: 2px;

      background-color: var(--color-black-0, black);
    }
  }

  &--minus {
    left: 0;

    &::after {
      display: none;
    }
  }

  &--plus {
    right: 0;

    padding-right: 15px;
    padding-left: 15px;

    &::after {
      position: absolute;

      transform: rotate(90deg);
    }
  }
}

.calculator-params__input-button:not(:disabled) {
  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 3px var(--color-gray-0, gray);
  }

  &:active {
    opacity: 0.3;
  }
}

.calculator-params__input-error {
  position: absolute;
  top: -6px;
  left: 14px;
  z-index: 2;

  display: none;

  padding: 0 10px;
  margin: 0;

  font-size: 12px;
  font-weight: 500;
  line-height: 14px;

  color: var(--color-red-0, red);
  background: var(--color-white-0, white);
}

.calculator-params__input-hint {
  margin: 6px 0 0;

  font-size: 14px;
  line-height: 20px;

  color: var(--color-black-3, black);
}

.calculator-params__range {
  display: flex;
  flex-wrap: wrap;
}

.calculator-params__range-button-wrapper {
  --line-progress: 0;
  --point-size: 14px;
  --point-offset: calc(-1 * var(--point-size) / 2);

  position: relative;

  width: calc(100% - var(--point-size));
  margin: 20px auto 0;

  &::before {
    content: "";

    display: block;

    width: 100%;
    height: 1px;

    background:
      linear-gradient(
        90deg,
        var(--color-blue-0, blue) var(--line-progress),
        var(--color-gray-2, gray) var(--line-progress)
      );
  }
}

.calculator-params__range-button {
  position: relative;
  left: var(--line-progress);

  display: block;

  padding: 0;
  margin-left: var(--point-offset);

  background-color: transparent;

  border: none;
  border-radius: 50%;
  outline: none;

  transform: translateY(-50%);

  &::before {
    content: "";

    display: block;

    width: var(--point-size);
    height: var(--point-size);

    background-color: var(--color-blue-0, blue);

    border-radius: 50%;
  }

  &::after {
    content: "";

    position: absolute;
    top: -7px;
    left: -7px;

    display: block;

    width: 30px;
    height: 30px;
  }
}

.calculator-params__range-button:not(:disabled) {
  &:hover,
  &:focus {
    box-shadow: 0 0 7px 0 var(--color-black-0, black);
  }

  &:active {
    opacity: 0.3;
  }
}

.calculator-params__range-button-value,
.calculator-params__range-limit {
  margin: 0;

  font-size: 14px;
  line-height: 20px;

  color: var(--color-black-3, black);
}

.calculator-params__range-button-value {
  position: relative;
  left: var(--line-progress);

  display: block;

  margin-top: -2px;
  margin-left: var(--point-offset);
}

.calculator-params__range-limit {
  &--max {
    margin-left: auto;
  }
}
