.departments {
  box-sizing: border-box;
  width: 100%;
  max-width: $desktop-max-content;
  padding: 10px 0 60px;
  // margin: 245px auto 0;
  margin: 0 auto;
}

.departments__title {
  margin: 0 var(--padding);

  font-size: 22px;
  font-weight: 600;
  line-height: 31px;
}

.departments__map {
  width: 100%;
  height: 381px;
  margin-top: 27px;
}

@media (min-width: $tablet-breakpoint) {
  .departments {
    padding-bottom: 79px;
    margin-top: 303px;

    padding-left: var(--padding);
    padding-right: var(--padding);
  }

  .departments__title {
    margin: 0;

    font-size: 32px;
    line-height: 45px;
  }

  .departments__map {
    height: 462px;
    margin-top: 34px;
  }
}

@media (min-width: $desktop-breakpoint) {
  .departments {
    padding-left: 0;
    padding-right: 0;
    margin-top: 399px;
  }

  .departments__title {
    font-size: 41px;
    line-height: 57px;
  }

  .departments__map {
    margin-top: 56px;
  }
}
