.prime-footer {
  box-sizing: border-box;
  width: 100%;
  margin-top: auto;

  background-color: var(--color-lightgray-0, lightgray);
}

.prime-footer__content {
  position: relative;

  box-sizing: border-box;
  width: 100%;
  max-width: $desktop-max;
  padding: 33px var(--padding) 43px;
  margin: 0 auto;
}

.prime-footer__logo {
  display: block;

  width: 113px;
  height: 17px;
}

.prime-footer__nav {
  margin: 19px 0 0;
}

.prime-footer__nav-link {
  display: block;

  padding: 5px 0 4px;

  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  outline: none;

  transition: all 0.1s;
}

.prime-footer__nav-link,
.prime-footer__phone,
.prime-footer__place-link {
  &:not(:disabled)[href] {
    &:hover {
      color: var(--color-blue-0, blue);
    }

    &:focus:not(:hover) {
      text-decoration: underline;
    }

    &:active {
      opacity: 0.2;
    }
  }
}

.prime-footer__phone-wrapper {
  margin-top: 16px;

  &--two {
    .prime-footer__phone-details {
      margin-left: 33px;
    }
  }
}

.prime-footer__phone {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  outline: none;

  span {
    margin-left: 17px;
  }
}

.prime-footer__phone:not(:disabled)[href] {
  &:hover {
    color: var(--color-blue-0, blue);
  }

  &:focus:not(:hover) {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.2;
  }
}

.prime-footer__phone-details {
  max-width: 170px;
  margin: 0;
  margin-left: 29px;

  font-size: 12px;
  line-height: 17px;
}

.prime-footer__places-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;

  margin-top: 7px;
}

.prime-footer__place {
  display: flex;

  width: 33px;
}

.prime-footer__place-link {
  display: flex;
  flex-grow: 1;

  padding: 0;

  outline: none;

  svg {
    padding: 10px 0;
    margin-right: auto;
  }
}

.prime-footer__place-link:not(:disabled)[href] {
  &:focus {
    color: var(--color-blue-0, blue);
  }
}

.prime-footer__copyright {
  display: none;
}

@media (min-width: $tablet-breakpoint) {
  .prime-footer__content {
    display: grid;
    grid-template:
      "logo phone-one"
      "nav phone-two"
      "nav places"
      "copyright places";
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;

    padding-top: 55px;
    padding-bottom: 51px;
  }

  .prime-footer__logo {
    grid-area: logo;

    width: 133px;
    height: 22px;
  }

  .prime-footer__nav {
    grid-area: nav;

    margin-top: -16px;
  }

  .prime-footer__nav-link {
    font-size: 16px;
    line-height: 22px;
  }

  .prime-footer__phone-wrapper {
    margin: 0;

    &--one {
      grid-area: phone-one;

      width: auto;
      max-width: 200px;
      margin-top: 4px;
    }

    &--two {
      grid-area: phone-two;

      max-width: 170px;
      margin-top: 22px;

      .prime-footer__phone-details {
        margin-left: 33px;
      }
    }
  }

  .prime-footer__phone {
    span {
      margin-left: 18px;
    }
  }

  .prime-footer__phone-details {
    width: auto;
    max-width: none;
    margin-left: 30px;
  }

  .prime-footer__places-list {
    margin: 15px 0 0;
  }

  .prime-footer__copyright {
    display: block;
    grid-area: copyright;

    box-sizing: border-box;
    margin: -1px 0 0;
    max-width: 265px;

    font-size: 12px;
    line-height: 17px;

    color: var(--color-black-3, black);
  }
}

@media (min-width: $desktop-breakpoint) {
  .prime-footer__content {
    position: relative;

    grid-template:
      "logo nav phone-one phone-two places"
      "copyright nav phone-one phone-two places"
      ". nav phone-one phone-two places";
    justify-content: space-between;
  }

  .prime-footer__logo {
    width: 149px;
    margin: 0;
  }

  .prime-footer__nav {
    width: auto;
    margin: 0;
  }

  .prime-footer__nav-links-list {
    margin: -5px 0 0 18px;
  }

  .prime-footer__phone-wrapper {
    width: auto;
    margin: 0;

    &--one {
      max-width: 200px;
      margin: 3px 0 0 21px;
    }

    &--two {
      min-width: 110px;
      max-width: 160px;
      margin: 1px 0 0 13px;
    }
  }

  .prime-footer__phone-details {
    max-width: none;
    margin-right: 0;
  }

  .prime-footer__places-list {
    grid-area: places;
    justify-self: end;

    width: 118px;
    margin: 0;
    margin-top: -5px;
  }

  .prime-footer__place {
    width: 25%;
  }

  .prime-footer__place-link {
    justify-content: flex-end;

    padding-left: 15px;
    padding-right: 0;
  }

  .prime-footer__copyright {
    position: relative;
    top: 0;
    left: 0;

    padding: 0;
    margin: 0;
    max-width: 253px;
    margin-top: 14px;
  }
}
